<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Plenty Menus</title>
        <link rel="stylesheet" href="/css/spectre.min.css">
        <link rel="stylesheet" href="/css/spectre-exp.min.css">
        <link rel="stylesheet" href="/css/spectre-icons.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="navbar p-2 myNav">
            <section class="navbar-section" aria-labelledby="brandTitle">
                <a href="/" class="navHead navbar-brand mr-2 text-bold" id="brandTitle">Plenty Menus</a>
                <div class="divider-vert"></div>
                <a href="/aboutus" class="btn btn-link">About us</a>
                <a href="/contactus" class="btn btn-link">Contact us!</a>
                {{#if session.loggedIn}}
                    <a href="/menu/create/restaurant" class="btn btn-link">Create menu</a>
                {{/if}}
            </section>
            <section class="navbar-section">
                {{#if session.loggedIn}}
                    <form method="POST" action="/auth/logout" style="display:inline-block;">
                        <input type="hidden" name="refUrl" value="{{ref}}">
                        <button type="submit" class="btn btn-link">Log out</button>
                    </form>
                {{else}}
                    <a href="/auth/login" class="btn btn-link" style="float: right;">Log in</a>
                {{/if}}
            </section>
        </header>
        {{{body}}}
    </body>
</html>