<div class="container col-6 col-mx-auto">
    <h1>Plenty Menus are providing a service for menus for your local restaurants.</h1>
    <p>
        Plenty Menus is a a service that will provide an easy way for restaurants to get their menus across to their customers, A place to find all your favourite menus.
    </p>
</div>