<div class="container col-6 col-mx-auto">
    <h1>Contacting us.</h1>
    <p>
        If you have concerns or simply an suggestion for us, communication can be made to the creators email, email provided below.
    </p>
    <p class="bg-dark">
        "anra20xq@student.ju.se"
    </p>
</div>