<div class="modal modal-md active">
  <a href="/menu/edit/{{rId}}" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container createItemModal text-center text-bold">
    <!-- modal structure here -->
    {{#if errors}}
        {{#each errors}}
            <div class="toast toast-dark mb-1">
                {{this}}
            </div>
        {{/each}}
    {{/if}}
    <div class="createItemTitle bg-primary">Edit the category: </div>
    <form class="form-horizontal createItemForm"  method="POST" action="/menu/edit/{{rId}}/category/{{id}}">
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label createItemLabel" for="categoryName">Name of category: </label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="text" id="categoryName" name="categoryName" placeholder="category name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label createItemLabel" for="categoryDesc">Category description: </label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="text" id="categoryDesc" name="categoryDesc" placeholder="category description">
            </div>
        </div>
        <input type="submit" id="" value="Submit edit!" class="createItemBtn btn btn-primary">
    </form>
    </div>
</div>
