.myNav {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.navHead {
    font-size: 25px !important;
}

.menus {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 30px;
}
.menusHead {
    font-size: 24px !important;
    text-align: center;
}

.category {
    background-color: #ebebeb;
}

.catTitle {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.2rem;
    
}
.item {
    display: block;
    width: 100%;
    padding-left: 10px;
}
.itemName {
    float: left;
}
.price {
    float: right;
}

.visit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.menuTitle {
    font-size: 2rem;
    padding: 0.5em;
}

.itemTitle {
    font-size: 1rem;
}

.formContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: .8em;
    margin-top: 2em;
}

.createBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.catDivider {
    color: rgba(149, 157, 165, 0.2);
    margin-left: 0.5em;
    margin-right: 0.5em;

}

.menuBody {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.menuCat {
    margin-top: 2em;
}

.addCat {
    margin-top: 0.5em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.createItemBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.createItemModal {
    padding: 0 !important;
}

.createItemTitle {
    width: 100%;
    padding: 1em;
}

.createItemForm {
    padding: 2em;
}

.createItemLabel {
    margin-right: 0.5em;
}